.container{
    max-width: 1000px;
    margin: 0 auto;
}
.header{
    background-color: rgb(194, 194, 194);
    padding: 30px;
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        height: 100%;
        .text{
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .text:hover{
            text-decoration: underline
        }
    }
}
.friend{
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        margin: 0 20px;
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        padding: 1.8rem;
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;
        .card_details {
            color: black;
            height: 100%;
            gap: .5em;
            display: grid;
            place-content: center;
           }
           
           .card_button {
            transform: translate(-50%, 125%);
            width: 60%;
            border-radius: 1rem;
            border: none;
            background-color: #008bf8;
            color: #fff;
            font-size: 1rem;
            padding: .5rem 1rem;
            position: absolute;
            left: 50%;
            bottom: 0;
            opacity: 0;
            transition: 0.3s ease-out;
            cursor: pointer;
           }
           
           .text_body {
            color: rgb(134, 134, 134);
           }
           
           /*Text*/
           .text_title {
            font-size: 1.5em;
            font-weight: bold;
           }
       }
       
       
       /*Hover*/
       .card:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
       }
       
       .card:hover .card_button {
        transform: translate(-50%, 50%);
        opacity: 1;
       }
}

.contacts{
    margin-top: 100px;
    .row{
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        .card {
            border-radius: 20px;
            background: #f5f5f5;
            position: relative;
            padding: 1.8rem;
            border: 2px solid #c3c6ce;
            transition: 0.5s ease-out;
            overflow: visible;
            .card_details {
                color: black;
                height: 100%;
                gap: .5em;
                display: grid;
                place-content: center;
               }
               
               .card_button {
                transform: translate(-50%, 125%);
                width: 60%;
                border-radius: 1rem;
                border: none;
                background-color: #008bf8;
                color: #fff;
                font-size: 1rem;
                padding: .5rem 1rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                opacity: 0;
                transition: 0.3s ease-out;
                cursor: pointer;
               }
               
               .text_body {
                color: rgb(134, 134, 134);
               }
               
               /*Text*/
               .text_title {
                font-size: 1.5em;
                font-weight: bold;
               }
           }
           
           
           /*Hover*/
           .card:hover {
            border-color: #008bf8;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
           }
           
           .card:hover .card_button {
            transform: translate(-50%, 50%);
            opacity: 1;
           }
    }

}
.user{
    margin-top: 100px;
    display: flex;
    .row{
        display: flex;
        justify-content: center;
        .card {
            width: 190px;
            height: 254px;
            border-radius: 30px;
            background: #e0e0e0;
            box-shadow: 15px 15px 30px #bebebe,
                       -15px -15px 30px #ffffff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .text{
                font-size: 20px;
                font-weight: bold;
            }
            .phone{
                font-size: 17px;
                font-weight: bold;
            }
          }
    }
      .title{
        margin-top: 50px;
        text-align: center;
      }
}